.catalog-card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding: 29px 25px 22px;

  background-color: $color-dark-cerulean;
  color: $color-alice-blue;

  z-index: 2;

  @include vp-1023 {
    padding: 30px 35px 27px;
  }

  @include vp-767 {
    padding: 32px 25px 17px;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    transition: background-color $trans-default;
    z-index: 2;

    content: "";
  }

  &:hover,
  &:focus,
  &:focus-within {
    flex-direction: column;
  }

  &:hover::before,
  &:focus::before,
  &:focus-within::before {
    background-color: $color-tangaroa;
  }
}

.catalog-card img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.catalog-card__inner {
  position: relative;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  margin-top: 14px;
  margin-bottom: 8px;

  z-index: inherit;

  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity $trans-ease-out-500;

  @include vp-1023 {
    padding-bottom: 0;
  }

  @include vp-767 {
    padding-bottom: 9px;
    margin-top: 13px;
  }
}

.catalog-card:hover .catalog-card__inner,
.catalog-card:focus .catalog-card__inner,
.catalog-card:focus-within .catalog-card__inner {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.catalog-card h3 {
  position: relative;
  margin: 0;
  margin-left: 5px;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;

  z-index: inherit;

  @include vp-1023 {
    margin-left: 0;
  }
}

.catalog-card:hover h3,
.catalog-card:focus h3,
.catalog-card:focus-within h3 {
  margin-left: 0;
}

.catalog-card__options-list {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;

  font-size: 14px;
  line-height: 1.4;

  @include vp-1023 {
    margin-bottom: 25px;
  }
}

.catalog-card__option {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-card__option dt {
  margin: 0;

  font-weight: 500;
}

.catalog-card__option dd {
  margin: 0;
  color: $color-quartz;
}

.catalog-card__button {
  margin-top: auto;
}
