.catalog__inner {
  padding-top: 85px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 91px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 58px;
    padding-bottom: 65px;
  }
}

.catalog h2 {
  margin: 0;
  margin-bottom: 49px;

  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;

  @include vp-1023 {
    margin-bottom: 51px;

    font-size: 26px;
    line-height: 1.4;
  }

  @include vp-767 {
    margin-bottom: 31px;

    font-size: 24px;
  }
}

.catalog__cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 386px;
  gap: 30px;

  padding: 0 15px;
  margin: 0;
  list-style-type: none;

  @media (max-width: 1250px) {
    grid-auto-rows: calc(302px + 84 * (100vw - 1024px) / (1250 - 1024));
  }

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: calc(386px + 159 * (100vw - 768px) / (1024 - 768));
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-auto-rows: calc(386px + 639 * (100vw - 320px) / (768 - 320));
    padding: 0 10px;
  }
}
