.main-intro {

  color: $color-alice-blue;

  background-color: $color-dark-cerulean;
  background-image: url("../img/background/intro-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  filter: drop-shadow(0 4px 4px rgba($color: $color-default-black, $alpha: 0.25));

  @include vp-1023 {
    filter: none;
    background-image: url("../img/background/intro-bg-tablet.jpg");
  }

  @include vp-767 {
    background-size: 768px 638px;
    background-position: center top -40px;
  }

  @include retina {
    @include vp-1023 {
      background-image: url("../img/background/intro-bg-tablet@2x.jpg");
    }

    @media (min-width: $vp-1024) {
      background-image: url("../img/background/intro-bg-desktop@2x.jpg");
    }
  }
}

.main-intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 145px 95px 150px;
  min-height: 650px;

  @include vp-1023 {
    padding: 100px 0 107px;
    min-height: 638px;
  }

  @include vp-767 {
    padding: 65px 0 66px;
    min-height: 500px;
  }
}

.main-intro h1 {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  text-shadow: 0 4px 4px rgba($color: $color-default-black, $alpha: 0.25);

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;

    text-shadow: none;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.main-intro p {
  margin: 0;

  font-size: 20px;

  text-shadow: 0 4px 4px rgba($color: $color-default-black, $alpha: 0.25);

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;

    text-shadow: none;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 1.4;
    margin-right: 60px;
  }
}
