.main-intro {
  min-height: 250px;
  color: $color-alice-blue;

  margin-bottom: 295px;
}

.main-intro h1 {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;

    text-shadow: none;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.main-intro__inner {
  padding: 0 95px;

  @include vp-1023 {
    padding: 0;
  }
}

.main-intro p {
  margin: 0;

  font-size: 20px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;

    text-shadow: none;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 1.4;
  }
}
